---
services:
  api:
    build: .
    restart: always
    ports:
      - "8080:8080"
    environment:
      - DATABASE_URL=postgres://postgres:gophers@db:5432/postgres
    depends_on:
      db:
        condition: service_healthy
  db:
    image: postgres:16
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=gophers
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U postgres -d postgres'"]
      interval: 2s
      timeout: 3s
      retries: 10
